/* VARIABLES - Paleta de colores del sitio */
:root {
    --color-fondo: #f8f5ff;
    --color-primario: #FF76CE;
    --color-secundario: #E69DB8;
    --color-texto: #1e1b4b;
    --color-tarjeta: #FFDBFD;
    --fuente: 'Segoe UI', sans-serif;
}

/* RESET - Borrar estilos por defecto del navegadores */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;    
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: var(--fuente);
    line-height: 1.7;
}

/* NAVEGACION */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #FFC7EA;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: -30px;
}

.logo img {
    width: 180px;
    height: auto;
    display: block;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    color: var(--color-texto);
    text-decoration: none;
    font-size: 0.95rem;
}

nav a:hover {
    color: var(--color-secundario);
}

nav a.activo {
    color: var(--color-primario);
    font-weight: bold;
    border-bottom: 2px solid var(--color-primario);
    padding-bottom: 3px;
}

/* ===================================================
    SECCION FOOTER
   =================================================== */

.footer{
    background-color: #FFC7EA;
    padding: 35px 20px;
    text-align: center;
}

.footer-logo{
    width: 180px;
    margin-bottom: 15px;
}

.footer-texto{
    max-width: 530px;
    margin: 0 auto 20px auto;
    line-height: 1.6;
}

.footer-redes{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.footer-redes img{
    width: 45px;
    transition: 0.3s;
}

.footer-redes img:hover{
    transform: scale(1.1);
}

.footer-redes{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.footer-copy{
    margin-top: 10px;
}

.footer-redes img{
    margin-top: 10px;
    width:40px;
    height:40px;
}

.footer-redes img:hover{
    transform:scale(1.1);
}
/* ===================================================
    SECCION INICIO
   =================================================== */



#inicio {
    min-height: 80vh;
    width: 100%;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carrusel-fondo {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.carrusel-fondo img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    animation: cambiarFoto 12s infinite;
}

.carrusel-fondo img:nth-child(1) {
    animation-delay: 0s;
}

.carrusel-fondo img:nth-child(2) {
    animation-delay: 4s;
}

.carrusel-fondo img:nth-child(3) {
    animation-delay: 8s;
}

/* capa rosada encima */
#inicio::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 199, 233, 0.726);
    z-index: 1;
}

/* texto encima */
.contenido-inicio {
    position: relative;
    z-index: 2;
    max-width: 900px;
    padding: 40px;
}

@keyframes cambiarFoto {
    0% {
        opacity: 0;
    }

    8% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    38% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#inicio h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.nombre {
    color: var(--color-primario);
}

#inicio p{
    font-size: 1.2rem;
    max-width: 600px;
    margin-bottom: 30px;
    color: #4b5563;
}

.boton {
    background-color: var(--color-primario);
    color: white;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

.boton:hover{
    background-color: var(--color-secundario);
}

/* ===================================================
    SECCION SOBRE MI
   =================================================== */

#sobre-mi {
    padding: 40px 60px;
    text-align: center;
    color:var(--color-primario);
}

#sobre-mi h2 {
    font-size: 2rem;
    color: var(--color-secundario);
    margin-bottom: 40px;
    text-align: center;
}

.perfil{
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card{
    width: 300px;
    min-height: 700px;
    padding: 20px;
    border-radius: 25px;
    background: var(--color-tarjeta);
    box-shadow: 0 6px 18px rgba(0,0,0,0.10);
    transition: 0.3s ease;
}
.info-card{
    max-width: 500px;
    text-align: left;
    color: var(--color-texto);
}

.encabezado-card{
    padding: 20px;
    text-align: center;
    color: var(--color-primario);
}

.avatar{
    font-size: 4rem;
    margin-bottom: 10px;
}

figcaption{
    color:var(--color-texto)
}

.info-card h4{
    color: var(--color-primario);
    margin-top: 15px;
    margin-bottom: 3px;
}


.foto-card img{
    width: 320px;
    border-radius: 20px;
}

/* ===================================================
    SECCION AMIGOS
   =================================================== */
#amigos{
    padding: 40px;
}

.titulo-amigos{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
    color: var(--color-secundario);
}

.contenedor-amigos{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: flex-start;
}

.contenedor-amigos{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: flex-start;
}

.card-amigo{
    width: 300px;
    height: 650px;
    padding: 20px;
    border-radius: 25px;
    background: var(--color-tarjeta);
    box-shadow: 0 6px 18px rgba(0,0,0,0.10);
    transition: 0.3s ease;
    overflow: auto;
}

.card-amigo img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 18px;
}

.card-amigo:hover{
    transform: translateY(-8px);
}

.card-amigo p,
.card-amigo li{
    text-align: left;
}

.card-amigo h2{
    color: var(--color-primario);
}

.card:hover{
    transform: translateY(-8px);
}



details{
    margin-top: 15px;
}

summary{
    cursor: pointer;
    color: var(--color-primario);
    font-weight: bold;
}

summary:hover{
    color: var(--color-secundario);
}


#artistas{
    padding: 40px;
    text-align: center;
}

/* ===================================================
    SECCION ARTISTAS
   =================================================== */
.biblioteca{
    width: 800px;
    height: 1200px;
    margin: 40px auto;
    position: relative;

    background-image: url("imagenes/biblioteca.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cancion{
    position: absolute;
    width: 280px;
    height: 152px;
    border: none;
    border-radius: 12px;
}

.cancion1{
    top: 260px;
    left: 95px;
}

.cancion2{
    top: 445px;
    left: 380px;
}
.cancion3{
    top: 260px;
    left: 390px;
}

.cancion4{
    top: 620px;
    left: 95px;
}

.cancion5{
    top: 620px;
    left: 390px;
}

.cancion6{
    top: 800px;
    left: 390px;
}

.cancion7{
    top: 980px;
    left: 220px;
}